@import url(http://fonts.googleapis.com/css?family=Pacifico);
body{
  background-color: #314159;
}
#result{
  height:30px;
}
.convert{
  vertical-align: middle;
  white-space: nowrap;
  width:350px;
  margin: 0 auto;
}
.convert input#url{
  width: 300px;
  height: 50px;
  background: #5A667A;
  border: 1px solid #232833;
  font-size: 10pt;
  float: left;
  color: #fff;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.convert input#url::-webkit-input-placeholder {
   color: #7A8494;
}
.convert input#url:-moz-placeholder { /* Firefox 18- */
   color: #7A8494;  
}
.convert input#url::-moz-placeholder {  /* Firefox 19+ */
   color: #7A8494;  
}
.convert input#url:-ms-input-placeholder {  
   color: #7A8494;  
}
.convert #submit{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #5A667A;
  font-size: 10pt;
  cursor: pointer;
}
.convert #submit:hover{
  color:white;
}
.convert i{
  padding-top: 15px;
}
.fa{
  font-size: 20px!important;
}
button:focus,button:hover{
  outline: none;
}
.fancy{
  color:green;
  font-family: "Pacifico";
  font-size: 40px!important;
}
.ugly{
  color:#7C7C7C;
}
.big{
  font-size: 30px!important;
}
i#logo{
  font-size: 100px!important;
}
div#logo{
  margin-top: -100px;
  font-size: 60px;
}
a:hover{
  text-decoration: none;
}
#inputResult{
  color:#000;
}
#success{
  font-size: 20px;
  text-align: center;
}
#success input{
  height:50px;
  font-size: 25px;
  width:350px;
  margin: 0 auto;
}
.mastfoot {
  bottom: 0px;
  position: absolute;
  width: 100%;
}
#notFound{
  width: 350px;
  height: 50px;
  margin:0 auto;
  background: #772F2F;
  border: 1px solid #681919;
  font-size: 11pt;
  color: #B96666;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  line-height: 35pt; 
}